<section id="secOne">
    <div id="c1"></div>
    <div id="c2" [@fadeIn]>
        <!-- <img src="../../assets/images/LogoNormal.svg" alt=""> -->
        <div id="c2-1" class="">
            <img *ngIf="logo" [src]="logo" alt="Descripción alternativa">
            <h1>From <span class="blueText">curious </span>learners to <br>tech <span class="blueText"> visionaries </span></h1>
            <app-social-media></app-social-media>
        </div>
        <div id="c2-2">
        </div>
    </div>
    <div id="c3"></div>
</section>
    
<section id="secTwo">
    <div class="sec21 reveal fade-bottom">
        <div>
            <h5>Student or not,</h5>
            <h3 >Studevs is your <br> community</h3>
        </div>
        <p>¿Are you passionate about <span><b> technology? </b></span></p>
        <app-btn-principal></app-btn-principal>
    </div>
    <div class="sec22 reveal fade-bottom">
        <div id="adminScroll">
            <div class="image-container adminsScroll">
                <img *ngIf="adminScroll1" [src]="adminScroll1" alt="Descripción alternativa">
            </div>
            <div class="image-container-reverse adminsScroll">
                <img *ngIf="adminScroll2" [src]="adminScroll2" alt="Descripción alternativa">
            </div>
        </div>
    </div>
</section>

<section id="secThree" >
    <div id="sec31"></div>
    <p class="reveal fade-bottom">In Studevs, we inspire and empower <span><br>future tech professionals</span> with <br> hackathons, events, and conferences.</p>
    
    <div id="sec32" class="zoom" [style.transform]="'scale(' + scale + ')'">
        <img *ngIf="sec3_1" [src]="sec3_1" alt="Descripción alternativa">
        <img *ngIf="sec3_2" [src]="sec3_2" alt="Descripción alternativa">
        <img *ngIf="sec3_3" [src]="sec3_3" alt="Descripción alternativa">
    </div>
    <div class="bottom"></div>

</section>

<section id="secFour">
    <div class="sec4  reveal fade-bottom" id="sec41">
        <h3>Our <span>Impact</span></h3>
        <p>We have left a possitive mark in our community <br> with our growth, notable achievements <br> and awards.</p>
    </div>
    <div class="sec4 reveal fade-bottom" id="sec42">
        <div class="sec4Data">
            <h3>+ 150</h3>
            <div class="line"></div>
            <p>More than <span> 150 members </span> in the community</p>
        </div>
        <div class="sec4Data">
            <h3>+ 10</h3>
            <div class="line"></div>
            <p>More than <span>10 participations</span> in hackathons</p>
        </div>
        <div class="sec4Data">
            <h3>+ 13</h3>
            <div class="line"></div>
            <p>More than <span>13 awards</span></p>
        </div>
    </div>
</section>

<section id="secFive">
    <!-- <section class="imagesGalleryGrid reveal fade-bottom"> -->
        <section class="imagesGalleryGrid ">
        <div class="grid-item item1 ">
            <img *ngIf="sec5_img1" [src]="sec5_img1" alt="Descripción alternativa">
        </div>
        <div class="grid-item item2 ">
            <img *ngIf="sec5_img2" [src]="sec5_img2" alt="Descripción alternativa">
        </div>
        <div class="grid-item item3 ">
            <img *ngIf="sec5_img3" [src]="sec5_img3" alt="Descripción alternativa">
        </div>
        <div class="grid-item item4 ">
            <img *ngIf="sec5_img4" [src]="sec5_img4" alt="Descripción alternativa">
        </div>
        <div class="grid-item item5 ">
            <div class="reveal fade-bottom">
                <h2>Relive the experience</h2>
                <a href="" routerLink="/events">See events</a>
            </div>
        </div>
        <div class="grid-item item6 ">
            <img *ngIf="sec5_img6" [src]="sec5_img6" alt="Descripción alternativa">
        </div>
        <div class="grid-item item7 ">
            <img *ngIf="sec5_img7" [src]="sec5_img7" alt="Descripción alternativa">
        </div>
        <div class="grid-item item8 ">
            <img *ngIf="sec5_img8" [src]="sec5_img8" alt="Descripción alternativa">
        </div>
        <div class="grid-item item9 ">
            <img *ngIf="sec5_img9" [src]="sec5_img9" alt="Descripción alternativa">
        </div>
    </section>

</section>

<section id="secSix">
    <h2 class="reveal fade-bottom">Projects</h2>
    <div class="projects">

    </div>
</section>

<section id="secSeven">
    <div class="reveal fade-bottom">
        <h2>Join the net</h2>
        <p>Learn from experiences beside our community!</p>
    </div>
    <app-btn-principal class="reveal fade-bottom"></app-btn-principal>
</section>
<app-footer></app-footer>

<script>
    gsap.to(".box", { 
  x: 200,
});

</script>