#secOne {
    width: 100%;
    height: 120vh + 60px;
    padding-top: 60px;
    background-image: 
        linear-gradient(179deg, #0e091f 03%, rgba(14, 9, 31, 0.473) 37.79%, rgba(29, 28, 28, 0.13) 68.89%, rgba(14, 9, 31, 0.92) 75.23%, #0E091F 95.24%),
        url("../../assets/images/home/capibara.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #0E091F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

#c1 {
    height: 15vh;
}

#c2 {
    width: 100%;
    height: 80vh;
}

#c2-1 {
    height: 55vh;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


#c2-2 {
    height: 35vh;
    /* background-color: linear-gradient(179deg, #0E091F 0%, rgba(14, 9, 31, 0.66) 37.79%, rgba(29, 28, 28, 0.13) 68.89%, rgba(14, 9, 31, 0.92) 75.23%, #0E091F 80.24%); */
}

#c3 {
    height: 35vh;
    width: 100%;
    background-image: linear-gradient(
        180deg, 
        #0e091e00 00%,
        #0E091E 100%
    );
}

h1 {
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.blueText {
    color: #40CAFD;
    font-weight: 800;
}


/** ----------- SecTwo ------------ */
#secTwo {
    width: 100%;
    /* height: 110vh; */
    height: auto;
    padding-top: 60px;
    background-color: #0E091F;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    text-align: start;
    gap: 2rem;
} 

.sec21 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 2rem;
}

.sec21 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 0rem;
}
span {
    /* color: #40CAFD; */
    font-weight: 800;
}
    
#secTwo h5 {
    font-weight: 650;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    text-align: start;
    margin: 0;
    padding: 0;
}

#secTwo h3 {
    color: #40CAFD;
font-size: 350%;
font-style: normal;
font-weight: 900;
/* line-height: thin; */
letter-spacing: -2.4px;
}

.sec21 p {
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: white;
    text-align: start;
    margin: 0;
    padding: 0;

}

.sec22 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  height: 110vh;

}

.sec22::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #0E091E 0%, rgba(0, 0, 0, 0) 30%, #0E091E 90%);
  z-index: 1; 
}

#adminScroll {
    /* width: 50%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url('https://res.cloudinary.com/dmhkvcej4/image/upload/v1700988658/sec2_adminScroll_Background_ly5adg.svg');
  /* background-size: cover;  */
  background-position: center;
    background-size: 110%;
}

.adminsScroll {
    width: 36%;
}

/** ----------- SecThree ------------ */

#secThree {
    font-size: 200%;
    background-image: url('https://res.cloudinary.com/dmhkvcej4/image/upload/v1700991486/sec3_Background_w5n4wl.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    /* background-position: ; */
    color: white;
    width: 100%;
    height: 110vh;
    padding-top: 60px;
    background-color: #0E091F;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
    text-align: center;
    /* gap: 2rem; */
    overflow: hidden;
    /* gap: 05%; */
}

#secThree #sec31 {
    height: 50%;
}

#secThree #sec32 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 02%;
    overflow: hidden;
}

#secThree img {
    /* width: 30%; */
    width: 44%;
    height: 63%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px ;
}

  .zoom {
    transition: transform 3.6s ease; /* Suaviza la transición de escala */
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .zoom img {
    transition: transform 3.6s ease; /* Aplica una transición suave a las imágenes */
    max-width: 100%; /* Asegúrate de que las imágenes no se desborden de su contenedor */
    height: auto; /* Mantiene la proporción de las imágenes al escalar */
  }
  
  
/** ----------- SecFour ------------ */

#secFour {
    width: 100%;
    height: 120vh;
    padding-top: 60px;
    background-color: #0E091F;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
    text-align: center;
    /* gap: 2rem; */
    gap: 05%;
    background-image: url('https://res.cloudinary.com/dmhkvcej4/image/upload/v1701101957/home/sec4_background_flkyh8.svg');
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

}

.sec4 {
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 02%;
    flex-wrap: wrap;
    
    /* overflow: hidden; */

}

#sec41 span {
    color :#40CAFD;
}

#sec42 {
    font-weight: 500;
    /* font-size: 5rem; */
}

#sec41 h3 {
    font-size: 400%;
}

#sec41 p {
    font-size: 150%;
    text-align: end;
    letter-spacing: -0.75px;
}

#sec42  h3{
    font-size: 400%;
}

.sec4Data {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sec42  p{
    font-size: 90%;
}

#sec42 .line{
    background-color: white;
    height: 1px;
    width: 100%;
    border-radius: 50%;
}

/** ----------- SecFive ------------ */
#secFive {
    width: 100%;
    height: 110vh;
        background-color: #0E091F;
}

.imagesGalleryGrid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, calc((110vh - 3 * 10px) / 4));
    column-gap: 10px;
    row-gap: 10px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    max-height: 100%;
}


.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.item3 {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
}

.item4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.item5 {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    background-image: url('https://res.cloudinary.com/dmhkvcej4/image/upload/v1701112974/home/sec5_5_uszogj.svg');
        object-fit: cover;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
.item5 div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
    height: 100%;
    width: 100%;
    gap: 2rem;
}
.item5 h2 {
    color: white;
    font-size: 500%;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -4.4px;
}

.item5 a {
    color: white;
    font-size: 100%;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    width: 100%;
    background-color: #00A9E8;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.item5 a:hover {
    /* background-color:#31c2f7; */
    background-color:#40CAFD;
}

.item6 {
    grid-column: 6 / 8;
    grid-row: 2 / 3;
}

.item7 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.item8 {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

.item9 {
    grid-column: 6 / 8;
    grid-row: 3 / 5;
}


/** ----------- SecSix ------------ */
#secSix {
    width: 100%;
    height: 100vh;
        background-color: #0E091F;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#secSix h2 {
    background-color: #40cbfd00;
    color: #FFF;
    text-align: center;
    font-family: Aileron;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}



/** ----------- SecSeven ------------ */
#secSeven {
    width: 100%;
    height: 100vh;
    background-color: #0E091F;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#secSeven div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
}

#secSeven div h2 {
    color: #FFF;
    color: #FFF;
    font-family: Aileron;
    font-size: 850%;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -10px;
}

#secSeven div p {
    color: #FFF;
    font-family: Aileron;
    font-size: 200%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}


