/* .css-animation {
    animation: slideIn 2s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  } */



  /** -------- ANIMATIONS -------- */

  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }

.reveal {
      position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*! - animacion admins autoscroll home - */

  .image-container {
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desplace fuera del contenedor */
    /* height: 50%;  */
  }
  
  .image-container img {
    width: 100%; /* Ajusta esto según tus necesidades */
    animation: moveUpDown 35s linear infinite; /* Ajusta la duración según quieras */
  }
  
  .image-container-reverse {
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desplace fuera del contenedor */
    /* height: 50%;  */
  }
  
  .image-container-reverse img {
    width: 100%; /* Ajusta esto según tus necesidades */
    animation: moveUpDown-reverse 35s linear infinite; /* Ajusta la duración según quieras */
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(30%);
    }
    50% {
      transform: translateY(-35%); /* Ajusta este valor según el tamaño de tu imagen */
    }
  }
  @keyframes moveUpDown-reverse {
    0%, 100% {
      transform: translateY(-35%);
    }
    50% {
      transform: translateY(30%); /* Ajusta este valor según el tamaño de tu imagen */
    }
  }
  