<div id="secZero"></div>
<section id="secOne">
    
    <div class="top"></div>
    <div class="wrap">

        <!-- <img class="zoom zoom2" *ngIf="aboutUsLetter" [src]="aboutUsLetter" alt="Descripción alternativa"> -->
      <img class="zoom" *ngIf="aboutUsLetter" [src]="aboutUsLetter" [style.transform]="'scale(' + scale + ')'" alt="Descripción alternativa">
        
    </div>
    <div class="bottom"></div>
</section>
<!-- <section id="secOne">
    <div class="wrap">
      <img class="zoom" *ngIf="aboutUsLetter" [src]="aboutUsLetter" [style.transform]="'scale(' + scale + ')'" alt="Descripción alternativa">
    </div>
  </section> -->
  
  

<section id="secTwo">

</section>

<section id="secThree">

</section>

<section id="secFour">

</section>

<script>
    const zoom = document.querySelector('.zoom');
    const minZoom = 1;
    const maxZoom = 2;

    addEventListener('scroll', e => {
    	const vh = window.innerHeight / 100;
      const scrollTop = document.documentElement.scrollTop;
      const start = 100 * vh;
      const stop = 100 * vh;
      if (scrollTop > start && scrollTop < stop) {
    	  const scale = Math.max(2.2 - (scrollTop - start) / 500, 1);
      	zoom.style.transform = `scale(${scale})`
      }
})
</script>