<section id="secOne">
    <div id="secZero"></div>
    
    <div class="top"></div>
    <div class="wrap">

      <img class="zoom" *ngIf="aboutUsLetter" [src]="aboutUsLetter" [style.transform]="'scale(' + scale + ')'" alt="Descripción alternativa">
        
    </div>
    <div class="bottom"></div>
</section>

<section id="secTwo">
    <p class="reveal fade-bottom">In the glorious kingdom of Ideas, Capy came to be, <br>
        With bravery and wisdom, he set the doubts free.</p>
        <img class="reveal fade-bottom" *ngIf="capi1" [src]="capi1"  alt="Capi1">

</section>

<section id="secThree">
    <p class="reveal fade-bottom">In every star of Studevs, with each new creation, <br>
        He vowed to embody its spirit, its dream, and its aspiration.</p>

</section>

<section id="secFour">
    <img class="reveal fade-bottom" *ngIf="studevsLogo" [src]="studevsLogo"  alt="Capi1">
    <p class="pCommon reveal fade-bottom"> Studevs is a community of <span> people passionate</span> for computer science, design, and other fields related with <span>technology and innovation</span>.</p>
</section>

<section id="secFive" class="commonSectionTemplate">
    <h2 class="reveal fade-bottom">Mission</h2>
    <p class="pCommon reveal fade-bottom"> Ignite the spark in curious learners so that they are the ones in control of their future, not the future over them.</p>

</section>

<section id="secSix" class="commonSectionTemplate">
    <h2 class="reveal fade-bottom">Vision</h2>
    <p class="pCommon reveal fade-bottom">
        Become the first choice that people think of when they want to learn, innovate, and grow in a community in the technology field.
    </p>

</section>

<section id="secSeven" class="commonSectionTemplate">
    <h2 class="reveal fade-bottom">Values</h2>
    <div class="values6">
        <div class="values3">
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_1" [src]="sec7_1  " alt="">
                <h3>Don't stop imagining</h3>
                <p> "If it's not a crazy idea, then it's not worth it." <br>
                    - James Altucher</p>
            </div>
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_2" [src]="sec7_2" alt="">
                <h3>Allow yourself to fail</h3>
                <p>Every failure is an achievement. We all fail, we all learn.</p>
            </div>
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_3" [src]="sec7_3" alt="">
                <h3>Socialize</h3>
                <p>Community is strength, feel free to speak up and be heard.</p>
            </div>
        </div>
        <div class="values3">
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_4" [src]="sec7_4" alt="">
                <h3>Unlock your potential</h3>
                <p>Dare to step out of your comfort zone, learn and become the best version of yourself.</p>
            </div>
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_5" [src]="sec7_5" alt="">
                <h3>Be flexible</h3>
                <p>In the working world, it's not the strongest who survive, but the most adaptable.</p>
            </div>
            <div class="value reveal fade-bottom">
                <img  *ngIf="sec7_6" [src]="sec7_6" alt="">
                <h3>Work as a team</h3>
                <p>Greatness is not achieved alone, it's built as a team.</p>
            </div>
        </div>
    </div>

</section>

<section id="secEight">
    <div class="sec81 reveal fade-bottom">
        <h2>We are capybaras</h2>
        <app-btn-principal></app-btn-principal>
    </div>
    <img class="reveal fade-bottom" *ngIf="capi2" [src]="capi2" alt="">

</section>

<app-footer></app-footer>