  <div class="secZero">
    <div id="Info">
      <div id="infoPic">
        <img id="ProfilePhoto" *ngIf="user?.profilePhoto" [src]="user.profilePhoto" alt="{{ user.name }}">
      </div>
      <div id="infoInfo">
        <div class="aux">
          <h1 id="name">{{ user?.name }}</h1>
          <ng-container *ngIf="user?.userType === 'admin'">
            <app-admin-tag></app-admin-tag>
          </ng-container>
          <ng-container *ngIf="user?.userType === 'miembro'">
            <app-member-tag></app-member-tag>
          </ng-container>
          <ng-container *ngIf="user?.userType === 'exadmin'">
            <app-ex-admin-tag></app-ex-admin-tag>
          </ng-container>
        </div>
        <div id="infoUserNameMember">
          <p class="user_name">@{{ user?.username }}</p>
          <p class="userType">{{ user?.userType }}</p>
        </div>
        <p id="phrase">"{{ user?.phrase }}"</p>
      </div>
    </div>
  </div>
  <section>
    <div id="sec2">
      <div id="Description">
        <h3>Description</h3>
        <p id="description">{{ user?.description }}</p>
      </div>
      <!-- <div id="Projects">
        <h2>Projects</h2>
        <hr>
        <app-project-big-card></app-project-big-card>
        <app-project-big-card></app-project-big-card>
        <app-project-big-card></app-project-big-card>
      </div> -->

      <!-- <div id="Events">
        <div class="InfoEventsSec">
          <h2>Events</h2>
          <p>Events <span class="user_name"> @user_name </span>has participated</p>
        </div>
        <div id="events">
          <app-future-event-card></app-future-event-card>
          <app-future-event-card></app-future-event-card>
          <app-future-event-card></app-future-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
          <app-past-event-card></app-past-event-card>
        </div>
      </div> -->
    </div>
  </section>
  <app-footer></app-footer>