<div id="secOne">
    <img src="https://res.cloudinary.com/dmhkvcej4/image/upload/v1701709559/Events/Fondo_gpnnh1.svg" alt="">
    <div class="capa-negra"></div>
</div>
<section>
    <div id="secTwo">
        <div id="sec2_1">
            <div class="aux">
                <h1 id="eventName">Event name</h1> 

            </div>
            <p> Date: <span id="date"></span></p>
            <p><span id="nAssistants">100</span> assistants</p> 
            <p>Location: <span id="Location"></span></p>
        </div>
        <hr>
        <div id="sec2_2">
            <div class="descripDiv">
                <h2>Description</h2>
                <p id="description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cumque doloribus obcaecati enim eius consequuntur velit maiores iure unde voluptatem, est a similique consectetur sequi veritatis commodi distinctio eum deserunt!</p>
            </div>
        </div>
        <hr>
        <div id="sec2_3">
            <h2>Watch a video. <span> Relieve the experience</span></h2>
            <iframe src="https://www.youtube.com/embed/[ID_DEL_VIDEO]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>

        <hr>
        
    </div>
</section>
<app-footer></app-footer>