<section>
    <div id="secOne">
        <h1 [@fadeIn]>Events</h1>
        <ng-container *ngIf="userService.loggedIn()">
            <app-add-btn [routerLink]="miRuta" [buttonText]="miTexto" [@fadeIn]></app-add-btn>
        </ng-container>
    </div>
    <div id="allEvents">
        <div class="eventsDiv">
            <div class="eventsInfo">
                <h2>Future Events</h2>
                <p>Join new events with studevs community</p>
            </div>
            <div class="eventsList">
                <ng-container *ngFor="let futureEvent of futureEvents">
                  <app-future-event-card [event]="futureEvent"></app-future-event-card>
                </ng-container>
            </div>
        </div>
        <div class="eventsDiv">
            <div class="eventsInfo">
                <h2>Past Events</h2>
                <p>Relive all our past events</p>
            </div>
            <div class="eventsList">
                <ng-container *ngFor="let pastEvent of pastEvents">
                  <app-past-event-card [event]="pastEvent"></app-past-event-card>
                </ng-container>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
