<div class="card">
    <app-project-icon></app-project-icon>
    <div class="infoCard">
        <div class="mainInfo">
            <h1 id="ProjectName">Project Name</h1>
            <h3 id="EventName">Event name</h3>
        </div>
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ullam ut fugit id harum dolor.</p>
        <div class="Skills">
            <p class="skill">HTML</p>
            <p class="skill">CSS</p>
            <p class="skill">JavaScript</p>
            <p class="skill">Angular</p>
        </div>
    </div>
</div>
<hr>