<section>
    <div id="secOne">
        <h1 [@fadeIn]>Projects</h1>
        <ng-container *ngIf="userService.loggedIn()">
            <app-add-btn [routerLink]="miRuta" [buttonText]="miTexto" [@fadeIn]></app-add-btn>
        </ng-container>
    </div>
    <div id="allprojects">
        <div class="projectsDiv">
            <div class="projectsInfo">
                <h2>All Projects</h2>
                <p>See all the projects made by our Studevs</p>
            </div>
            <div class="projectsList">
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
                <app-project-icon></app-project-icon>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
