<div id="socialMedia">
    <a href="https://discord.gg/2x6t2tPFUr" target="_blank">
      <img *ngIf="discord" [src]="discord" alt="Descripción alternativa">
    </a>
    <a href="https://www.instagram.com/studevs_official/" target="_blank">
        <img *ngIf="instagram" [src]="instagram" alt="Descripción alternativa">
    </a>
    <a href="https://www.linkedin.com/company/studevs/" target="_blank">
        <img *ngIf="linkedin" [src]="linkedin" alt="Descripción alternativa">
    </a>
    <a href="https://www.twitch.tv/studevs" target="_blank">
        <img *ngIf="twitch" [src]="twitch" alt="Descripción alternativa">
    </a>
    <a href="https://twitter.com/StuDevsOfficial" target="_blank">
        <img *ngIf="x" [src]="x" alt="Descripción alternativa">
    </a>
    <a href="https://www.youtube.com/@StuDevsOfficial" target="_blank">
        <img *ngIf="youtube" [src]="youtube" alt="Descripción alternativa">
    </a>
    <a href="https://www.facebook.com/profile.php?id=100094110701290" target="_blank">
        <img *ngIf="facebook" [src]="facebook" alt="Descripción alternativa">
    </a>
</div>