<section id="secOne">
    <div id="c1"></div>
    <div id="c2" [@fadeIn]>
        <!-- <img src="../../assets/images/LogoNormal.svg" alt=""> -->
        <div id="c2-1" class="">
            <img *ngIf="logo" [src]="logo" alt="Descripción alternativa">
            <h1>From <span class="blueText">curious </span>learners to <br>tech <span class="blueText"> visionaries </span></h1>
            <app-social-media></app-social-media>
        </div>
        <div id="c2-2">
        </div>
    </div>
    <div id="c3"></div>
</section>
    
<section id="secTwo">
    <div class="sec21 reveal fade-bottom">
        <div>
            <h5>Student or not,</h5>
            <h3 >Studevs is your <br> community</h3>
        </div>
        <p>¿Are you passionate about <span><b> technology? </b></span></p>
        <app-btn-principal></app-btn-principal>
        <!-- [routerLink]="['/register']" routerLinkActive="router-link-active"  -->
    </div>
    <div class="sec22 reveal fade-bottom">
        <app-studev-card-for-home></app-studev-card-for-home>
        <div id="adminScroll">
            <div class="image-container adminsScroll">
                <img *ngIf="adminScroll1" [src]="adminScroll1" alt="Descripción alternativa">
            </div>
            <div class="image-container-reverse adminsScroll">
                <img *ngIf="adminScroll2" [src]="adminScroll2" alt="Descripción alternativa">
            </div>
        </div>
    </div>
</section>

<section id="secThree" >
    <div id="sec31"></div>
    <p class="reveal fade-bottom">In Studevs, we inspire and empower <span><br>future tech professionals</span> with <br> hackathons, events, and conferences.</p>
    
    <!-- <div class="top">
        <div class="wrap"> -->
            <div id="sec32" class="zoom" [style.transform]="'scale(' + scale + ')'">
            <!-- <div id="sec32" class="zoom"> -->
                <img *ngIf="sec3_1" [src]="sec3_1" alt="Descripción alternativa">
                <img *ngIf="sec3_2" [src]="sec3_2" alt="Descripción alternativa">
                <img *ngIf="sec3_3" [src]="sec3_3" alt="Descripción alternativa">
            </div>
        <!-- </div>
    </div> -->
    <div class="bottom"></div>

    <!-- <section class="top"></section>
<section class="wrap">
  <img class="zoom" src="https://cdn.builder.io/api/v1/image/assets%2FYJIGb4i01jvw0SRdL5Bt%2F5b8fd21c9bd74e9cb07b8a44c1e93649" >
</section>
<section class="bottom"></section> -->
</section>

<section id="secFour">

</section>
<script>
    gsap.to(".box", { 
  x: 200,
});

// * Sec3
// const zoom = document.querySelector('.zoom');
// const minZoom = 1;
// const maxZoom = 2;

// addEventListener('scroll', e => {
// 	const vh = window.innerHeight / 100;
//   const scrollTop = document.documentElement.scrollTop;
//   const start = 100 * vh;
//   const stop = 200 * vh;
//   if (scrollTop > start && scrollTop < stop) {
// 	  const scale = Math.max(2.2 - (scrollTop - start) / 500, 1);
//   	zoom.style.transform = `scale(${scale})`
//   }
// })
</script>