<!-- <section>
    <div id="register">
      <h1>Sign Up</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> -->
<section>
    <div id="register">
      <h1>Sign Up</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input">
          <label for="username">User name:</label>
          <input type="text" formControlName="username" required>
          <div *ngIf="f['username'].errors?.['required'] && f['username'].touched">
            Username is required.
          </div>
          <div *ngIf="f['username'].errors?.['minlength'] && f['username'].touched">
            Username must be at least 4 characters long.
          </div>
        </div>
        <div class="input">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" required>
          <div *ngIf="f['email'].errors?.['required'] && f['email'].touched">
            Email is required.
          </div>
          <div *ngIf="f['email'].errors?.['email'] && f['email'].touched">
            Please enter a valid email address.
          </div>
        </div>
        <div class="input">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" required>
          <div *ngIf="f['password'].errors?.['required'] && f['password'].touched">
            Password is required.
          </div>
          <div *ngIf="f['password'].errors?.['minlength'] && f['password'].touched">
            Password must be at least 6 characters long.
          </div>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" [disabled]="!registerForm.valid">Sign Up</button>

        <p>Do you already have an account? <span> <a routerLink="/login">Log In</a></span></p>
        
      </form>
    </div>
  </section>
  